# Scraping murder data

#### Author: Lydia Kim
#### Description: Scrapes murder totals, estimates, rates by MSA for 2006-2016 from the FBI website
#### Output: murder_data.csv

In [6]:
import numpy as np
import scipy as sp
import pandas as pd
import time
import requests 
from bs4 import BeautifulSoup 
import json
requests.packages.urllib3.disable_warnings()

In [7]:
def getHTML(the_year, url):
    link = url.format(the_year, the_year)
    print(the_year)
    
    #Get html
    req = requests.get(link, timeout=20, verify=False)
    time.sleep(2)
    page = req.text
    
    yearstext[the_year] = page

In [8]:
yearstext = dict()
range1 = lambda start, end: range(start, end+1)

for r in range(2006, 2010):
    url = "https://www2.fbi.gov/ucr/cius{}/data/table_06.html".format(r)
    print(r)
    
    #Get html
    req = requests.get(url, timeout=20, verify=False)
    time.sleep(2)
    page = req.text
    
    yearstext[r] = page
    
for r in range(2010, 2012):
    getHTML(r,"https://ucr.fbi.gov/crime-in-the-u.s/{}/crime-in-the-u.s.-{}/tables/table-6")
    
for r in range(2012, 2014):
    getHTML(r,"https://ucr.fbi.gov/crime-in-the-u.s/{}/crime-in-the-u.s.-{}/tables/6tabledatadecpdf")
    
for r in range(2014, 2016):
    getHTML(r,"https://ucr.fbi.gov/crime-in-the-u.s/{}/crime-in-the-u.s.-{}/tables/table-6")

getHTML(2016, "https://ucr.fbi.gov/crime-in-the-u.s/{}/crime-in-the-u.s.-{}/tables/table-4")

2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [9]:
def parse_year(the_year):
    soup = BeautifulSoup(yearstext.get(the_year,{}), 'html.parser')
    
    #Extract table
    tables = soup.find_all("table", attrs={"class":"data"})
    table = tables[0]
    rows = table.find_all("tr")[1:]
    
    #Extract singles
    dataset, newdata = [], []

    for no, tr in enumerate(rows):
        for th_no, data in enumerate(tr.find_all('th')):
            if data.has_attr("rowspan"):
                if int(data["rowspan"])>2:
                    MSA = data.get_text().split('M.S.A.', 1)[0].replace('\n','')
                    spanrows = int(data["rowspan"])
                    start = no+1
                    end = (no + spanrows)-1
                    obs = {'MSA': MSA}

                    for r in range1(start, end):
                        cells = rows[r].findAll(["th", "td"])
                        varname = cells[0].get_text().replace('\n','')
                        val = cells[3].get_text().replace('\n','')

                        entry = {'varname': varname, 'values': val}
                        vlist = list(entry.values())
                        name = vlist[0]
                        obs[name] = vlist[1]

                    dataset.append(obs)

            else:
                pass
            
    for x in dataset:
        try:
            estimated = x['Estimated total']
        except KeyError:
            estimated = x['Total area actually reporting']
        try:
            rate = x['Rate per 100,000 inhabitants']
        except KeyError:
            rate = 'NaN'
        try:
            total = x['Total area actually reporting']
        except KeyError:
            total = 'NaN'
            
        tempdict = {'MSA': x['MSA'], 'Total': total, 'Rate': rate, 'Estimated': estimated, 'Year': the_year}
        newdata.append(tempdict)
            
                
    return newdata

In [10]:
yearinfo = dict()
for r in range(2006, 2017):
    info = parse_year(r)
    yearinfo[r] = info

In [11]:
fd = open("data/yearinfo.json","w")
json.dump(yearinfo, fd)
fd.close()
del yearinfo

In [12]:
with open("data/yearinfo.json", "r") as fd:
    yearinfo = json.load(fd)

In [13]:
frame = []

for key in yearinfo:
    dftemp = pd.DataFrame.from_dict(yearinfo[key], orient='columns')
    frame.append(dftemp)
    
dftemp2 = pd.concat(frame, ignore_index=True)
df = dftemp2.sort_values(['MSA', 'Year'])
df = df.reset_index(drop=True)
df = df[['MSA', 'Year', 'Total', 'Estimated', 'Rate']]
df

,MSA,Year,Total,Estimated,Rate
0,"Abilene, TX",2006,6,6,3.7
1,"Abilene, TX",2007,10,10,6.3
2,"Abilene, TX",2008,7,7,4.4
3,"Abilene, TX",2009,7,7,4.4
4,"Abilene, TX",2010,5,5,3.1
5,"Abilene, TX",2011,5,5,3.0
6,"Abilene, TX",2012,3,3,1.8
7,"Abilene, TX",2013,1,1,0.6
8,"Abilene, TX",2014,10,10,5.9
9,"Abilene, TX",2015,9,9,5.3
10,"Abilene, TX",2016,11,11,6.5
11,"Aguadilla-Isabela, Puerto Rico",2012,31,31,9.3
12,"Aguadilla-Isabela, Puerto Rico",2013,36,36,11.0
13,"Aguadilla-Isabela, Puerto Rico",2014,19,19,5.9
14,"Aguadilla-Isabela, Puerto Rico",2015,15,15,4.8
15,"Aguadilla-Isabela, Puerto Rico",2016,22,22,7.1
16,"Aguadilla-Isabela-San Sebastian, Puerto Rico",2006,8,8,2.5
17,"Aguadilla-Isabela-San Sebastian, Puerto Rico",2007,13,13,3.9
18,"Aguadilla-Isabela-San Sebastian, Puerto Rico",2008,21,21,6.2
19,"Aguadilla-Isabela-San Sebastian, Puerto Rico",2009,13,13,3.8
20,"Aguadilla-Isabela-San Sebastian, Puerto Rico",2011,30,30,9.8
21,"Akron, OH",2007,23,25,3.6
22,"Akron, OH",2008,23,24,3.4
23,"Akron, OH",2009,27,28,4.0
24,"Akron, OH",2010,26,26,3.7
25,"Akron, OH",2011,32,33,4.7
26,"Akron, OH",2012,26,27,3.8
27,"Akron, OH",2013,35,36,5.1
28,"Akron, OH",2014,33,34,4.8
29,"Akron, OH",2015,35,36,5.1
...,...,...,...,...,...
4084,"York-Hanover, PA",2013,19,19,4.3
4085,"York-Hanover, PA",2014,14,14,3.2
4086,"York-Hanover, PA",2015,19,19,4.3
4087,"York-Hanover, PA",2016,19,19,4.3
4088,"Youngstown-Warren-Boardman, OH-PA",2008,41,41,7.2
4089,"Youngstown-Warren-Boardman, OH-PA",2009,32,32,5.7
4090,"Youngstown-Warren-Boardman, OH-PA",2010,33,33,5.9
4091,"Youngstown-Warren-Boardman, OH-PA",2012,32,32,5.7
4092,"Youngstown-Warren-Boardman, OH-PA",2014,24,24,4.3
4093,"Yuba City, CA",2006,7,7,4.4
4094,"Yuba City, CA",2007,2,2,1.2
4095,"Yuba City, CA",2008,10,10,6.0
4096,"Yuba City, CA",2009,4,4,2.4
4097,"Yuba City, CA",2010,7,7,4.2
4098,"Yuba City, CA",2011,8,8,4.7
4099,"Yuba City, CA",2012,11,11,6.5
4100,"Yuba City, CA",2013,7,7,4.2
4101,"Yuba City, CA",2014,2,2,1.2
4102,"Yuba City, CA",2015,6,6,3.5
4103,"Yuba City, CA",2016,13,13,7.6
4104,"Yuma, AZ",2006,6,7,3.7
4105,"Yuma, AZ",2007,12,13,6.8
4106,"Yuma, AZ",2008,6,7,3.6
4107,"Yuma, AZ",2009,9,10,5.1
4108,"Yuma, AZ",2010,8,9,4.7
4109,"Yuma, AZ",2011,13,14,7.1
4110,"Yuma, AZ",2012,7,7,3.4
4111,"Yuma, AZ",2013,12,12,5.9
4112,"Yuma, AZ",2014,8,8,3.9
4113,"Yuma, AZ",2015,10,10,4.9

In [14]:
df.to_csv('raw data/murder_data.csv')